.categories{
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px auto;
    background-color: white;
    border: 0.1rem solid #E43553;
    border-radius: 1rem;
    padding: 50px 0;
}

.categories form{
    width: 290px;
    margin-bottom: 20px;
}

.categories label{
    display: block;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 10px;
    color: #E43553;
}

.categories input {
    height: 35px;
    width: 210px;
    border: none;
    outline: none;
    border-bottom: 1px solid #E43553;
}


.categories button{
    padding: 10px 0;
    width: 50px;
    background: #E43553;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 0.5rem;
}

.categories button:hover{
    opacity: 0.9;
}


.categories .row{
    min-width: 290px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #E43553;
}